.content-wrapper {
  flex-grow: 1;
  overflow: scroll;
  padding: 30px 150px;

  @media screen and (max-width: 1080px) {
    padding: 30px 90px;
  }

  @media screen and (max-width: 960px) {
    padding: 30px 60px;
  }

  @media screen and (max-width: 720px) {
    padding: 24px;
  }
}

.blog-title {
  padding-bottom: 36px;
  border-bottom: 1px solid $gray;
}

.article-header {
  h1 {
    margin-bottom: 0;
  }

  margin-bottom: 24px;
}
