.content-wrapper {
  flex-grow: 1;
  overflow: scroll;
  padding: 30px 150px;

  @media screen and (max-width: 1080px) {
    padding: 30px 90px;
  }

  @media screen and (max-width: 960px) {
    padding: 30px 60px;
  }

  @media screen and (max-width: 720px) {
    padding: 24px;
  }
}
