body {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  color: $gray;
  font-size: $scale6;
  line-height: 1.5;
}

h1 { font-size: $scale9; line-height: $scale9; font-weight: bold; }
h2 { font-size: $scale7; line-height: $scale7; font-weight: bold; }
h3 { font-size: $scale5; line-height: $scale5; font-weight: bold; }
h4 { font-size: $scale3; line-height: $scale3; font-weight: bold; }
h5 { font-size: $scale2; line-height: $scale2; font-weight: bold; }
h6 { font-size: $scale1; line-height: $scale1; font-weight: bold; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: $scale7;
}

p {
  margin-bottom: $scale5;
}
