.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 24px;
  flex-shrink: 0;

  label {
    font-weight: bold;
    color: $gray;
    text-decoration: none;
  }

  &.half {
    max-width: 47.5%;
  }
}

.input-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


input {
  height: 42px;
  padding: 6px;
  width: 100%;
}

textarea {
  height: 84px;
}

input, textarea, button {
  border: 1px solid $black;
  flex-grow: 1;
  width: 100%;
  font-size: $scale5;
  padding: 6px;
  outline: none;
  line-height: 1.25;
}

button {
  &:hover {
    cursor: pointer;
  }
}

label {
  cursor: pointer;
  margin-bottom: 15px;
}
